---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <h1>私のAstro学習ブログ</h1>
    <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    <ul>
      <li><a href="/posts/post-1/">記事1</a></li>
      <li><a href="/posts/post-2/">記事2</a></li>
      <li><a href="/posts/post-3/">記事3</a></li>
    </ul>
    <Footer />
  </body>
</html>
