---
import Navigation from '@components/Navigation.astro';
import Hamburger from '@components/Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
