---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
const { pageTitle } = Astro.props;
---

<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
      import '@js/menu';
    </script>
  </body>
</html>
